.home-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0a0601 ;
}

.title {
  font-size: 42px;
  color: #ffff; 
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 4px solid #ff6106; 
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; 
  justify-content: center;
  max-width: 1200px;
  padding: 20px;

  
}

.category-item {
  width: calc(33.33% - 40px); 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-bottom: 40px; 
  background-color: #ff6106;
  border-radius: 20%;
}

@media (max-width: 1200px) {
  .category-item {
    width: calc(50% - 40px); 
  }
}

@media (max-width: 768px) {
  .category-item { 
    width: calc(100% - 40px);
  }
}


.category-item img {
  width: 80%; 
  height: auto;
  border-radius: 20px; 
}

.category-item p {
  margin-top: 10px;
  font-size: 16px; 
  text-align: center; 
  color: #ffff;
}
