.costume-bg {
  background-color:  #ffff ; /* Háttérszín pirosra állítva */
}

.registration-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 30px;
}

.registration-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
 color: #ff6106;
 text-align: center;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff6106;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.buttons button:hover {
  background-color: #813103;
}

.basic-info,
.shipping-info,
.billing-info {
  margin-bottom: 20px;
}

.billing-info.hidden {
  display: none;
}
